body {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.profile-card {
    background-color: #31363F;
   
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 300px;
    color: white;
}

.profile-pic {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 10px auto;
}

h1 {
    margin: 10px 0;
    font-size: 24px;
}

.location {
    color: #a3d044;
    margin: 5px 0;
}

.bio {
    font-style: italic;
    margin: 10px 0;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.button {
    background-color:  #222831;
    color: #EEEEEE;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
}

.button:hover {
    background-color:#686D76;
}
